@use "./variables" as *;

%bg-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

%btn {
  text-decoration: $link-decoration;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.125rem;
  padding: 0.7rem 3.125rem;
  margin-top: 1.75rem;
  border-radius: 16px;
  font-weight: $font-weight-light;
}
